In [19]:
import pandas as pd
import numpy as np
from pprint import pprint

df = pd.read_csv('Speeding/Violations_2017_Speeding_after_dummies.csv', parse_dates=['time_of_stop'])

In [20]:
df.head()

,time_of_stop,latitude,longitude,belts_No,belts_Yes,personal_injury_No,personal_injury_Yes,property_damage_No,property_damage_Yes,fatal_No,...,make_SATURN,make_SCION,make_SMART,make_SUBARU,make_SUZUKI,make_TESLA,make_TOYOTA,make_VOLKSWAGEN,make_VOLVO,make_YAMAHA
0,2017-08-28 23:13:00,39.157853,-77.204095,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2017-08-28 22:53:00,39.152928,-77.171317,1,0,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
2,2017-08-29 01:44:00,39.083948,-77.153498,1,0,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
3,2017-08-29 07:55:00,39.033387,-77.072528,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2017-08-29 08:07:00,39.032983,-77.073839,1,0,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0

In [21]:
df.columns

Index(['time_of_stop', 'latitude', 'longitude', 'belts_No', 'belts_Yes',
       'personal_injury_No', 'personal_injury_Yes', 'property_damage_No',
       'property_damage_Yes', 'fatal_No', 'fatal_Yes', 'commercial_license_No',
       'commercial_license_Yes', 'alcohol_No', 'alcohol_Yes', 'work_zone_No',
       'work_zone_Yes', 'contributed_to_accident_No',
       'contributed_to_accident_Yes', 'violation_type_Citation',
       'violation_type_Warning', 'make_ACURA', 'make_AUDI', 'make_BENTLEY',
       'make_BMW', 'make_BUICK', 'make_CADILLAC', 'make_CHEVROLET',
       'make_CHRYSLER', 'make_DODGE', 'make_DUCATI', 'make_FIAT', 'make_FORD',
       'make_FREIGHTLINER', 'make_GEO', 'make_GILLIG', 'make_GMC',
       'make_GRUMMAN', 'make_HARLEY', 'make_HINO', 'make_HONDA', 'make_HUMMER',
       'make_HYUNDAI', 'make_INFINITI', 'make_INTERNATIONAL', 'make_ISUZU',
       'make_JAGUAR', 'make_JEEP', 'make_KAWASAKI', 'make_KENWORTH',
       'make_KIA', 'make_LAND_ROVER', 'make_LEXUS', 'make_LINCOLN',
       'make_MACK', 'make_MASERATI', 'make_MAZDA', 'make_MERCEDES',
       'make_MERCURY', 'make_MINI', 'make_MITSUBISHI', 'make_NISSAN',
       'make_OLDSMOBILE', 'make_PETERBILT', 'make_PLYMOUTH', 'make_POLARIS',
       'make_PONTIAC', 'make_PORSCHE', 'make_RANGE_ROVER', 'make_SAAB',
       'make_SATURN', 'make_SCION', 'make_SMART', 'make_SUBARU', 'make_SUZUKI',
       'make_TESLA', 'make_TOYOTA', 'make_VOLKSWAGEN', 'make_VOLVO',
       'make_YAMAHA'],
      dtype='object')

In [22]:
#Combining columns down into binary, remove one of the car makes
df = df.drop(['belts_No', 'personal_injury_No', 'property_damage_No', 'fatal_No', 
              'commercial_license_No', 'alcohol_No', 'work_zone_No', 'contributed_to_accident_No',
             'violation_type_Warning'], axis=1)

In [23]:
df = df.rename(columns={"belts_Yes": "belts", "personal_injury_Yes" : "personal_injury", 
                        "property_damage_Yes" : "property_damage", "fatal_Yes" : "fatal", 
                        "commercial_license_Yes" : "commercial_license", "alcohol_Yes" : "alcohol", 
                        "work_zone_Yes" : "work_zone", 
                        "contributed_to_accident_Yes" : "contributed_to_accident",
                        "violation_type_Citation" : "citation"})

In [24]:
dataset = df.drop(['time_of_stop', 'latitude', 'longitude'], axis=1)

In [25]:
dataset.head()

,belts,personal_injury,property_damage,fatal,commercial_license,alcohol,work_zone,contributed_to_accident,citation,make_ACURA,...,make_SATURN,make_SCION,make_SMART,make_SUBARU,make_SUZUKI,make_TESLA,make_TOYOTA,make_VOLKSWAGEN,make_VOLVO,make_YAMAHA
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [26]:
dataset.columns

Index(['belts', 'personal_injury', 'property_damage', 'fatal',
       'commercial_license', 'alcohol', 'work_zone', 'contributed_to_accident',
       'citation', 'make_ACURA', 'make_AUDI', 'make_BENTLEY', 'make_BMW',
       'make_BUICK', 'make_CADILLAC', 'make_CHEVROLET', 'make_CHRYSLER',
       'make_DODGE', 'make_DUCATI', 'make_FIAT', 'make_FORD',
       'make_FREIGHTLINER', 'make_GEO', 'make_GILLIG', 'make_GMC',
       'make_GRUMMAN', 'make_HARLEY', 'make_HINO', 'make_HONDA', 'make_HUMMER',
       'make_HYUNDAI', 'make_INFINITI', 'make_INTERNATIONAL', 'make_ISUZU',
       'make_JAGUAR', 'make_JEEP', 'make_KAWASAKI', 'make_KENWORTH',
       'make_KIA', 'make_LAND_ROVER', 'make_LEXUS', 'make_LINCOLN',
       'make_MACK', 'make_MASERATI', 'make_MAZDA', 'make_MERCEDES',
       'make_MERCURY', 'make_MINI', 'make_MITSUBISHI', 'make_NISSAN',
       'make_OLDSMOBILE', 'make_PETERBILT', 'make_PLYMOUTH', 'make_POLARIS',
       'make_PONTIAC', 'make_PORSCHE', 'make_RANGE_ROVER', 'make_SAAB',
       'make_SATURN', 'make_SCION', 'make_SMART', 'make_SUBARU', 'make_SUZUKI',
       'make_TESLA', 'make_TOYOTA', 'make_VOLKSWAGEN', 'make_VOLVO',
       'make_YAMAHA'],
      dtype='object')

In [28]:
from sklearn import tree

X = dataset.drop(['citation'], axis=1)
Y = dataset.citation

In [29]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,Y)

In [33]:
import graphviz
dot_data = tree.export_graphviz(clf, out_file=None)
graph = graphviz.Source(dot_data)
graph.render('citations')

'citations.pdf'

In [34]:
clf.score(X=X, y=Y)

0.58013059701492542

In [47]:
dataset2 = df
dataset2.to_csv('Speeding/Violations_2017_Speeding_after_dummies_dr.csv', index=False)