In [16]:
import pandas as pd
df = pd.read_csv('Speeding/Violations_2017_Speeding_geoloc.csv', parse_dates=[['Date Of Stop', 'Time Of Stop']])

In [17]:
from difflib import SequenceMatcher
#text = """there are
#some toyot in my text
#but I cannot find them"""
df = df[:100]
df['Make2'] = 'Make'

In [18]:
df.head()

,Date Of Stop_Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,Personal Injury,...,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Geolocation,Make2
0,2017-08-28 23:13:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 39 MPH I...,LOST KNIFE RD. @ LOST KNIFE CIR,39.157853,-77.204095,No,No,No,...,Transportation Article,No,HISPANIC,F,GERMANTOWN,MD,MD,A - Marked Patrol,"(39.1578533333333, -77.204095)",Make
1,2017-08-28 22:53:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 45 MPH I...,WOODFIELD RD / EMORY GROVE RD,39.152928,-77.171317,No,No,No,...,Transportation Article,No,HISPANIC,M,GAITHERSBURG,MD,MD,Q - Marked Laser,"(39.1529283333333, -77.1713166666667)",Make
2,2017-08-29 01:44:00,MCP,"1st district, Rockville",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 50 MPH I...,SEVEN LOCKS RD/CADBURY AVE,39.083948,-77.153498,No,No,No,...,Transportation Article,No,WHITE,M,COLOMBIA,MD,MD,A - Marked Patrol,"(39.0839483333333, -77.1534983333333)",Make
3,2017-08-29 07:55:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.033387,-77.072528,No,No,No,...,Transportation Article,No,OTHER,F,FULTON,MD,MD,Q - Marked Laser,"(39.0333873333333, -77.0725278333333)",Make
4,2017-08-29 08:07:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.032983,-77.073839,No,No,No,...,Transportation Article,No,WHITE,M,SILVER SPRING,MD,MD,Q - Marked Laser,"(39.032983, -77.0738388333333)",Make

In [19]:
def fuzzy_search(search_key, text, strictness):
    similarity = SequenceMatcher(None, text, search_key)
    if similarity.ratio() > strictness:
        return search_key

make_list = ['ACURA', 'ASTON MARTIN', 'AUDI', 'BMW', 'BENTLEY', 'BUICK',
'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'DODGE', 'DUCATI', 'FERARRI',
'FIAT', 'FORD', 'FREIGHTLINER', 'GEO', 'GMC', 'GILLIG', 'GRUMMAN',
'HARLEY', 'HINO', 'HONDA', 'INFINITI', 'ISUZU', 'JAGUAR', 'HUMMER',
'HYUNDAI', 'INTERNATIONAL', 'JEEP', 'KAWASAKI', 'KENWORTH',
'KIA', 'LANDROVER', 'LEXUS', 'LINCOLN', 'MACK', 'MASERATI',
'MAZDA', 'MERCEDES', 'MERCURY', 'MINI', 'MITSUBISHI', 'NISSAN',
'OLDSMOBILE', 'PETERBILT', 'PLYMOUTH', 'POLARIS',
'PONTIAC', 'PORSCHE', 'RANGE ROVER', 'SATURN', 'SCION',
'SAAB', 'SMART', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA',
'VOLKSWAGEN', 'VOLVO', 'YAMAHA']

not_found = 0

for index, text in df.iterrows():
    found = 0
    #Special fix for Chevrolet...
    
    if text['Make'] == 'CHEVY' or text['Make']=='CHEV':
        text['Make'] = 'CHEVROLET'
    
    #Fix for Volkswagen...
    if text['Make'] == 'VW':
        text['Make'] = 'VOLKSWAGEN'
    
    #fix for Oldsmobile...
    if text['Make'] == 'OLDS':
        text['Make'] = 'OLDSMOBILE'
        
    #RAM is a type of Dodge...
    if text['Make'] == 'RAM':
        text['Make'] = 'DODGE'
    
    #MERZ is abbreviation for Mercedes...
    if text['Make'] == 'MERZ':
        text['Make'] = 'MERCEDES'
        
    #MITZ and MITS is Mitsubishi...
    if text['Make'] == 'MITS' or text['Make'] == 'MITZ':
        text['Make'] = 'MITSUBISHI'
        
    #HD is Harley
    if text['Make'] == 'HD' or text['Make'] == 'H D':
        text['Make'] = 'HARLEY'
        
    #INTL is international:
    if text['Make'] == 'INTL':
        text['Make'] = 'INTERNATIONAL'
        
        
    #CADI is cadillac:
    if text['Make'] == 'CADI':
        text['Make'] = 'CADILLAC'
        
    #print(text)
    for item in make_list:
        if ((fuzzy_search(item, text['Make'], 0.65) != None) and found == 0):
            #print (fuzzy_search(item, text['Make'], 0.65))
            df.at[index, 'Make2'] = (fuzzy_search(item, text['Make'], 0.65))
            found = 1
            
            
    if found == 0:
        #print(text)
        not_found += 1
        df.at[index, 'Make2'] = 'Unknown'

In [20]:
not_found

2

In [21]:
#pd.set_option('display.max_rows', -1)
print(df[['Make','Make2']])

         Make      Make2
0        FORD       FORD
1      SUBARU     SUBARU
2        TOYT     TOYOTA
3       HONDA      HONDA
4      SUBARU     SUBARU
5         BMW        BMW
6       ACURA      ACURA
7      TOYOTA     TOYOTA
8        FORD       FORD
9        JEEP       JEEP
10       SUBA     SUBARU
11       TOYT     TOYOTA
12     TOYOTA     TOYOTA
13      ACURA      ACURA
14   MERCEDES   MERCEDES
15       FORD       FORD
16       TOYT     TOYOTA
17        BMW        BMW
18       LNDR    Unknown
19       HOND      HONDA
20       NISS     NISSAN
21      MAZDA      MAZDA
22        GMC        GMC
23      DODGE      DODGE
24       HYUN    HYUNDAI
25     TOYOTA     TOYOTA
26        JAG     JAGUAR
27       CADI   CADILLAC
28       TOYT     TOYOTA
29      HONDA      HONDA
..        ...        ...
70      HONDA      HONDA
71       TOYT     TOYOTA
72       HOND      HONDA
73      HONDA      HONDA
74       TOYT     TOYOTA
75       NISS     NISSAN
76       CHEV  CHEVROLET
77       FORD       FORD
78      DODGE      DODGE
79       JEEP       JEEP
80       NISS     NISSAN
81       TOYT     TOYOTA
82       TOYT     TOYOTA
83       TOYT     TOYOTA
84     NISSAN     NISSAN
85       FORD       FORD
86       LEXS      LEXUS
87        KIA        KIA
88       TOYT     TOYOTA
89       VOLV      VOLVO
90       CHEV  CHEVROLET
91       NISS     NISSAN
92       TOYT     TOYOTA
93        BMW        BMW
94       VOLV      VOLVO
95       HOND      HONDA
96        BMW        BMW
97     TOYOTA     TOYOTA
98     NISSAN     NISSAN
99  CHEVROLET  CHEVROLET

[100 rows x 2 columns]

In [22]:
df.head()

,Date Of Stop_Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,Personal Injury,...,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Geolocation,Make2
0,2017-08-28 23:13:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 39 MPH I...,LOST KNIFE RD. @ LOST KNIFE CIR,39.157853,-77.204095,No,No,No,...,Transportation Article,No,HISPANIC,F,GERMANTOWN,MD,MD,A - Marked Patrol,"(39.1578533333333, -77.204095)",FORD
1,2017-08-28 22:53:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 45 MPH I...,WOODFIELD RD / EMORY GROVE RD,39.152928,-77.171317,No,No,No,...,Transportation Article,No,HISPANIC,M,GAITHERSBURG,MD,MD,Q - Marked Laser,"(39.1529283333333, -77.1713166666667)",SUBARU
2,2017-08-29 01:44:00,MCP,"1st district, Rockville",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 50 MPH I...,SEVEN LOCKS RD/CADBURY AVE,39.083948,-77.153498,No,No,No,...,Transportation Article,No,WHITE,M,COLOMBIA,MD,MD,A - Marked Patrol,"(39.0839483333333, -77.1534983333333)",TOYOTA
3,2017-08-29 07:55:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.033387,-77.072528,No,No,No,...,Transportation Article,No,OTHER,F,FULTON,MD,MD,Q - Marked Laser,"(39.0333873333333, -77.0725278333333)",HONDA
4,2017-08-29 08:07:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.032983,-77.073839,No,No,No,...,Transportation Article,No,WHITE,M,SILVER SPRING,MD,MD,Q - Marked Laser,"(39.032983, -77.0738388333333)",SUBARU

In [24]:
#Scrub that which cannot be fixed
#No blank lats/longs/make2
df = df[(df.Latitude.notnull()) & \
        (df.Longitude.notnull()) & \
        (df.Make2 != 'Unknown')]

In [25]:
df.columns

Index(['Date Of Stop_Time Of Stop', 'Agency', 'SubAgency', 'Description',
       'Location', 'Latitude', 'Longitude', 'Accident', 'Belts',
       'Personal Injury', 'Property Damage', 'Fatal', 'Commercial License',
       'HAZMAT', 'Commercial Vehicle', 'Alcohol', 'Work Zone', 'State',
       'VehicleType', 'Year', 'Make', 'Model', 'Color', 'Violation Type',
       'Charge', 'Article', 'Contributed To Accident', 'Race', 'Gender',
       'Driver City', 'Driver State', 'DL State', 'Arrest Type', 'Geolocation',
       'Make2'],
      dtype='object')

## Categorical Data

In [26]:
df1 = df[['Date Of Stop_Time Of Stop', 'Latitude', 'Longitude',
        'Belts', 'Personal Injury', 'Property Damage', 'Fatal',
        'Commercial License', 'Alcohol', 'Work Zone', 
          'Contributed To Accident', 'Violation Type', 'Make2']]

df1.columns = ['time_of_stop', 'latitude', 'longitude', 
               'belts', 'personal_injury', 'property_damage', 'fatal', 
               'commercial_license', 'alcohol', 'work_zone', 
               'contributed_to_accident', 'violation_type', 'make']

In [30]:
df1.head()

,time_of_stop,latitude,longitude,belts,personal_injury,property_damage,fatal,commercial_license,alcohol,work_zone,contributed_to_accident,violation_type,make
0,2017-08-28 23:13:00,39.157853,-77.204095,No,No,No,No,No,No,No,No,Citation,FORD
1,2017-08-28 22:53:00,39.152928,-77.171317,No,No,No,No,No,No,No,No,Citation,SUBARU
2,2017-08-29 01:44:00,39.083948,-77.153498,No,No,No,No,No,No,No,No,Citation,TOYOTA
3,2017-08-29 07:55:00,39.033387,-77.072528,No,No,No,No,No,No,No,No,Citation,HONDA
4,2017-08-29 08:07:00,39.032983,-77.073839,No,No,No,No,No,No,No,No,Citation,SUBARU

In [28]:
df2 = pd.get_dummies(df1)

In [29]:
df2.head()

,time_of_stop,latitude,longitude,belts_No,belts_Yes,personal_injury_No,property_damage_No,fatal_No,commercial_license_No,commercial_license_Yes,...,make_LANDROVER,make_LEXUS,make_LINCOLN,make_MAZDA,make_MERCEDES,make_NISSAN,make_SUBARU,make_TESLA,make_TOYOTA,make_VOLVO
0,2017-08-28 23:13:00,39.157853,-77.204095,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2017-08-28 22:53:00,39.152928,-77.171317,1,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0
2,2017-08-29 01:44:00,39.083948,-77.153498,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,1,0
3,2017-08-29 07:55:00,39.033387,-77.072528,1,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2017-08-29 08:07:00,39.032983,-77.073839,1,0,1,1,1,1,0,...,0,0,0,0,0,0,1,0,0,0