In [1]:
import pandas as pd
df = pd.read_csv('Speeding/Violations_2017_Speeding_after_geoloc.csv', parse_dates=[['Date Of Stop', 'Time Of Stop']])

In [2]:
from difflib import SequenceMatcher
#text = """there are
#some toyot in my text
#but I cannot find them"""
#df = df[:100]
df['Make2'] = 'Make'

In [3]:
df.head()

,Date Of Stop_Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,Personal Injury,...,Charge,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Make2
0,2017-08-28 23:13:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 39 MPH I...,LOST KNIFE RD. @ LOST KNIFE CIR,39.157853,-77.204095,No,No,No,...,21-801.1,Transportation Article,No,HISPANIC,F,GERMANTOWN,MD,MD,A - Marked Patrol,Make
1,2017-08-28 22:53:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 45 MPH I...,WOODFIELD RD / EMORY GROVE RD,39.152928,-77.171317,No,No,No,...,21-801.1,Transportation Article,No,HISPANIC,M,GAITHERSBURG,MD,MD,Q - Marked Laser,Make
2,2017-08-29 01:44:00,MCP,"1st district, Rockville",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 50 MPH I...,SEVEN LOCKS RD/CADBURY AVE,39.083948,-77.153498,No,No,No,...,21-801.1,Transportation Article,No,WHITE,M,COLOMBIA,MD,MD,A - Marked Patrol,Make
3,2017-08-29 07:55:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.033387,-77.072528,No,No,No,...,21-801.1,Transportation Article,No,OTHER,F,FULTON,MD,MD,Q - Marked Laser,Make
4,2017-08-29 08:07:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.032983,-77.073839,No,No,No,...,21-801.1,Transportation Article,No,WHITE,M,SILVER SPRING,MD,MD,Q - Marked Laser,Make

In [4]:
def fuzzy_search(search_key, text, strictness):
    similarity = SequenceMatcher(None, text, search_key)
    if similarity.ratio() > strictness:
        return search_key

make_list = ['ACURA', 'ASTON MARTIN', 'AUDI', 'BMW', 'BENTLEY', 'BUICK',
'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'DODGE', 'DUCATI', 'FERARRI',
'FIAT', 'FORD', 'FREIGHTLINER', 'GEO', 'GMC', 'GILLIG', 'GRUMMAN',
'HARLEY', 'HINO', 'HONDA', 'INFINITI', 'ISUZU', 'JAGUAR', 'HUMMER',
'HYUNDAI', 'INTERNATIONAL', 'JEEP', 'KAWASAKI', 'KENWORTH',
'KIA', 'LANDROVER', 'LEXUS', 'LINCOLN', 'MACK', 'MASERATI',
'MAZDA', 'MERCEDES', 'MERCURY', 'MINI', 'MITSUBISHI', 'NISSAN',
'OLDSMOBILE', 'PETERBILT', 'PLYMOUTH', 'POLARIS',
'PONTIAC', 'PORSCHE', 'RANGE ROVER', 'SATURN', 'SCION',
'SAAB', 'SMART', 'SUBARU', 'SUZUKI', 'TESLA', 'TOYOTA',
'VOLKSWAGEN', 'VOLVO', 'YAMAHA']

not_found = 0

for index, text in df.iterrows():
    found = 0
    #Special fix for Chevrolet...
    
    if ((text['Make'] == 'CHEVY') or (text['Make']=='CHEV')):
        text['Make'] = 'CHEVROLET'
    
    #Fix for Volkswagen...
    elif ((text['Make'] == 'VW') or (text['Make'] == 'VOLKS') or (text['Make'] == 'VOLK')):
        text['Make'] = 'VOLKSWAGEN'
    
    #fix for Oldsmobile...
    elif text['Make'] == 'OLDS':
        text['Make'] = 'OLDSMOBILE'
        
    #RAM is a type of Dodge...
    elif text['Make'] == 'RAM':
        text['Make'] = 'DODGE'
    
    #MERZ is abbreviation for Mercedes...
    elif ((text['Make'] == 'MERZ') or text['Make'] == 'MERC'):
        text['Make'] = 'MERCEDES'
        
    #MITZ and MITS is Mitsubishi...
    elif ((text['Make'] == 'MITS') or (text['Make'] == 'MITZ') or (text['Make'] == 'MITSU')):
        text['Make'] = 'MITSUBISHI'
        
    #HD is Harley
    elif text['Make'] == 'HD' or text['Make'] == 'H D':
        text['Make'] = 'HARLEY'
        
    #INTL is international:
    elif text['Make'] == 'INTL':
        text['Make'] = 'INTERNATIONAL'
        
        
    #CADI is cadillac:
    elif ((text['Make'] == 'CADI') or (text['Make'] == 'CAD')):
        text['Make'] = 'CADILLAC'
    
    #CHRY is chrysler
    elif text['Make'] == 'CHRY':
        text['Make'] = 'CHRYSLER'
        
    #HON is honda
    elif text['Make'] == 'HON':
        text['Make'] = 'HONDA'
        
    #HYUN is hyundai
    elif text['Make'] == 'HYUN':
        text['Make'] = 'HYUNDAI'
        
    #infi is infiniti
    elif text['Make'] == 'INFI':
        text['Make'] = 'INFINITI'
        
    elif text['Make'] == 'LINC':
        text['Make'] = 'LINCOLN'
    
    elif text['Make'] == 'LNDR':
        text['Make'] = 'LANDROVER'
        
    elif text['Make'] == 'MAZ':
        text['Make'] = 'MAZDA'
    
    elif text['Make'] == 'KAWK':
        text['Make'] = 'KAWASAKI'
        
    elif text['Make'] == 'LEX':
        text['Make'] = 'LEXUS'
    
    elif text['Make'] == 'BENT':
        text['Make'] = 'BENTLEY'
        
    elif text['Make'] == 'PONT':
        text['Make'] = 'PONTIAC'
        
    elif text['Make'] == 'PORS':
        text['Make'] = 'PORSCHE'
        
    elif text['Make'] == 'SUB':
        text['Make'] = 'SUBARU'
    
    elif text['Make'] == 'TOY':
        text['Make'] = 'TOYOTA'
        
    elif ((text['Make'] == 'RANG') or (text['Make'] == 'RANGE')):
        text['Make'] = 'RANGE ROVER'
    
    elif text['Make'] == 'YAM':
        text['Make'] = 'YAMAHA'
    
    elif text['Make'] == 'PTRB':
        text['Make'] = 'PETERBILT'
        
    elif text['Make'] == 'NISS':
        text['Make'] = 'NISSAN'
        
    elif text['Make'] == 'MNNI':
        text['Make'] = 'MINI'
        
    elif text['Make'] == 'JAG':
        text['Make'] = 'JAGUAR'
        
    elif text['Make'] == 'KW':
        text['Make'] = 'KENWORTH'
        
    elif text['Make'] == 'ISU':
        text['Make'] = 'ISUZU'
        
    elif text['Make'] == 'FRHT':
        text['Make'] = 'FREIGHTLINER'
        
    elif text['Make'] == 'PLYM':
        text['Make'] = 'PLYMOUTH'
    
    #print(text)
    for item in make_list:
        if ((fuzzy_search(item, text['Make'], 0.75) != None) and found == 0):
            #print (fuzzy_search(item, text['Make'], 0.65))
            df.at[index, 'Make2'] = (fuzzy_search(item, text['Make'], 0.75))
            found = 1
            
            
    if found == 0:
        #print(text)
        not_found += 1
        df.at[index, 'Make2'] = 'Unknown'

In [5]:
not_found

157

In [6]:
#pd.set_option('display.max_rows', -1)
print(df[['Make','Make2']])

            Make       Make2
0           FORD        FORD
1         SUBARU      SUBARU
2           TOYT      TOYOTA
3          HONDA       HONDA
4         SUBARU      SUBARU
5            BMW         BMW
6          ACURA       ACURA
7         TOYOTA      TOYOTA
8           FORD        FORD
9           JEEP        JEEP
10          SUBA      SUBARU
11          TOYT      TOYOTA
12        TOYOTA      TOYOTA
13         ACURA       ACURA
14      MERCEDES    MERCEDES
15          FORD        FORD
16          TOYT      TOYOTA
17           BMW         BMW
18          LNDR   LANDROVER
19          HOND       HONDA
20          NISS      NISSAN
21         MAZDA       MAZDA
22           GMC         GMC
23         DODGE       DODGE
24          HYUN     HYUNDAI
25           JAG      JAGUAR
26          CADI    CADILLAC
27          TOYT      TOYOTA
28         HONDA       HONDA
29          FORD        FORD
...          ...         ...
21567     TOYOTA      TOYOTA
21568     TOYOTA      TOYOTA
21569  CHEVROLET   CHEVROLET
21570      HONDA       HONDA
21571    HYUNDAI     HYUNDAI
21572     TOYOTA      TOYOTA
21573      VOLKS  VOLKSWAGEN
21574       NISS      NISSAN
21575       HOND       HONDA
21576       TOYT      TOYOTA
21577     SUBARU      SUBARU
21578       HYUN     HYUNDAI
21579      HONDA       HONDA
21580       ACUR       ACURA
21581       TOYT      TOYOTA
21582     NISSAN      NISSAN
21583      HONDA       HONDA
21584     TOYOTA      TOYOTA
21585       MERZ    MERCEDES
21586      VOLVO       VOLVO
21587      HONDA       HONDA
21588       AUDI        AUDI
21589     SUBARU      SUBARU
21590       MINI        MINI
21591      LEXUS       LEXUS
21592      CHEVY   CHEVROLET
21593       LEXS       LEXUS
21594     TOYOTA      TOYOTA
21595       TOYT      TOYOTA
21596  VOLSWAGEN  VOLKSWAGEN

[21597 rows x 2 columns]

In [7]:
df.head()

,Date Of Stop_Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,Personal Injury,...,Charge,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Make2
0,2017-08-28 23:13:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 39 MPH I...,LOST KNIFE RD. @ LOST KNIFE CIR,39.157853,-77.204095,No,No,No,...,21-801.1,Transportation Article,No,HISPANIC,F,GERMANTOWN,MD,MD,A - Marked Patrol,FORD
1,2017-08-28 22:53:00,MCP,"6th district, Gaithersburg / Montgomery Village",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 45 MPH I...,WOODFIELD RD / EMORY GROVE RD,39.152928,-77.171317,No,No,No,...,21-801.1,Transportation Article,No,HISPANIC,M,GAITHERSBURG,MD,MD,Q - Marked Laser,SUBARU
2,2017-08-29 01:44:00,MCP,"1st district, Rockville",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 50 MPH I...,SEVEN LOCKS RD/CADBURY AVE,39.083948,-77.153498,No,No,No,...,21-801.1,Transportation Article,No,WHITE,M,COLOMBIA,MD,MD,A - Marked Patrol,TOYOTA
3,2017-08-29 07:55:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.033387,-77.072528,No,No,No,...,21-801.1,Transportation Article,No,OTHER,F,FULTON,MD,MD,Q - Marked Laser,HONDA
4,2017-08-29 08:07:00,MCP,"2nd district, Bethesda",EXCEEDING POSTED MAXIMUM SPEED LIMIT: 49 MPH I...,W/B UNIVERSITY BLVD @ NEWPORT MILL,39.032983,-77.073839,No,No,No,...,21-801.1,Transportation Article,No,WHITE,M,SILVER SPRING,MD,MD,Q - Marked Laser,SUBARU

In [8]:
df.columns

Index(['Date Of Stop_Time Of Stop', 'Agency', 'SubAgency', 'Description',
       'Location', 'Latitude', 'Longitude', 'Accident', 'Belts',
       'Personal Injury', 'Property Damage', 'Fatal', 'Commercial License',
       'HAZMAT', 'Commercial Vehicle', 'Alcohol', 'Work Zone', 'State',
       'VehicleType', 'Year', 'Make', 'Model', 'Color', 'Violation Type',
       'Charge', 'Article', 'Contributed To Accident', 'Race', 'Gender',
       'Driver City', 'Driver State', 'DL State', 'Arrest Type', 'Make2'],
      dtype='object')

## Categorical Data

In [9]:
df1 = df[['Date Of Stop_Time Of Stop', 'Latitude', 'Longitude',
        'Belts', 'Personal Injury', 'Property Damage', 'Fatal',
        'Commercial License', 'Alcohol', 'Work Zone', 
          'Contributed To Accident', 'Violation Type', 'Make', 'Make2']]

df1.columns = ['time_of_stop', 'latitude', 'longitude', 
               'belts', 'personal_injury', 'property_damage', 'fatal', 
               'commercial_license', 'alcohol', 'work_zone', 
               'contributed_to_accident', 'violation_type', 'make', 'make2']

In [10]:
df1.head()

,time_of_stop,latitude,longitude,belts,personal_injury,property_damage,fatal,commercial_license,alcohol,work_zone,contributed_to_accident,violation_type,make,make2
0,2017-08-28 23:13:00,39.157853,-77.204095,No,No,No,No,No,No,No,No,Citation,FORD,FORD
1,2017-08-28 22:53:00,39.152928,-77.171317,No,No,No,No,No,No,No,No,Citation,SUBARU,SUBARU
2,2017-08-29 01:44:00,39.083948,-77.153498,No,No,No,No,No,No,No,No,Citation,TOYT,TOYOTA
3,2017-08-29 07:55:00,39.033387,-77.072528,No,No,No,No,No,No,No,No,Citation,HONDA,HONDA
4,2017-08-29 08:07:00,39.032983,-77.073839,No,No,No,No,No,No,No,No,Citation,SUBARU,SUBARU

In [11]:
#Scrub that which cannot be fixed
#No blank lats/longs/make2
df_scrub = df1[(df1.latitude.notnull()) & \
        (df1.longitude.notnull()) & \
        (df1.make2 != 'Unknown')]

print(str(len(df1) - len(df_scrub)) + ' items removed.')

df = df_scrub

157 items removed.

In [12]:
#Fix for the rovers
df.loc[df['make2'] == 'LANDROVER', 'make2'] = 'LAND_ROVER'
df.loc[df['make2'] == 'RANGE ROVER', 'make2'] = 'RANGE_ROVER'

E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [13]:
#Drop extra make column, rename
df.drop(['make'], axis=1, inplace=True)
df = df.rename(columns={"make2": "make"})

E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [14]:
df.to_csv('Speeding/Violations_2017_Speeding_before_dummies.csv', index=False)

In [15]:
df2 = df
df2 = pd.get_dummies(df2)

In [16]:
df2.head()

,time_of_stop,latitude,longitude,belts_No,belts_Yes,personal_injury_No,personal_injury_Yes,property_damage_No,property_damage_Yes,fatal_No,...,make_SATURN,make_SCION,make_SMART,make_SUBARU,make_SUZUKI,make_TESLA,make_TOYOTA,make_VOLKSWAGEN,make_VOLVO,make_YAMAHA
0,2017-08-28 23:13:00,39.157853,-77.204095,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,2017-08-28 22:53:00,39.152928,-77.171317,1,0,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
2,2017-08-29 01:44:00,39.083948,-77.153498,1,0,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0
3,2017-08-29 07:55:00,39.033387,-77.072528,1,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2017-08-29 08:07:00,39.032983,-77.073839,1,0,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0

In [17]:
df2.to_csv('Speeding/Violations_2017_Speeding_after_dummies.csv', index=False)